.cardmaster4 {
  transition: color 0.25s;
}
.cardmaster4::before, .cardmaster4::after {
  border: 2px solid transparent;
  border-radius: 5px;
  width: 0;
  height: 0;
}
.cardmaster4::before {
  top: 0;
  left: 0;
}
.cardmaster4::after {
  bottom: 0;
  right: 0;
}
.cardmaster4:hover {
  color: red;
}
.cardmaster4:hover::before, .cardmaster4:hover::after {
  width: 100%;
  height: 100%;
}
.cardmaster4:hover::before {
  border-top-color: red;
  border-right-color: red;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.cardmaster4:hover::after {
  border-bottom-color: red;
  border-left-color: red;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
